:root{
    --color-primary: #000000;
    --color-secundary: #ffffff;
    --color-card: #454647dc;
    --color-font: #000000;
    --color-forms: #8F9297;
}

@font-face {
    font-family: 'Blank River';
    src: url(../fonts/Blank\ River.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

.titulo{
    font-family: 'Blank River';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit';
    color: var(--color-font);
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundary);
}

header{
    width: 100%;
    height: 100%;
}

#navegacao{
    height: 10%;
    background-color: var(--color-primary);
    position: absolute;
    z-index: 1000;
}

#logo{
    width: 20%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#navegacao ul{
    background-color: var(--color-primary);
}

#navegacao ul li{
    letter-spacing: 0.2em;
}

header div{
    height: 100%;
}

.titulo_secao{
    left: 25%;
}

.card_box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
}

.card_box div{
    display: none;
}

.card_box:hover{
    div{
        display: block;
        background-color: var(--color-card);
        color: var(--color-secundary);
    }
}

#trabalhos p, #trabalhos p small{
    color: var(--color-secundary);
}

#biografia{
    margin-top: 6rem;
}

#biografia_texto{
    text-align: justify;
    line-height: 2em;
}

#foto_yuri{
    border-radius: 250px;
    box-shadow: var(--color-primary) 6px 2px 16px 0px, var(--color-primary) 6px 2px 16px 0px;
}

#foto_yuri:hover{
    animation: flash 0.5s normal;
}

footer{
    width: 100%;
    background-color: var(--color-primary);
}

i{
    color: var(--color-secundary);
}

label{
    color: var(--color-secundary);
}

#exampleFormControlInput1:focus, #exampleFormControlTextarea1:focus{
    border: none;
    box-shadow: none;
    outline: medium solid var(--color-forms);
}

#btn_contato{
    background-color: var(--color-card);
    color: var(--color-secundary);
    border: none;
    border-radius: 10px;
    letter-spacing: 0.4em;
    font-size: 0.8em;
}

#link_devs{
    text-decoration: none;
    color: var(--color-forms);
}

#btn_enviar{
    background-color: var(--color-card);
    color: var(--color-secundary);
    border: none;
}

@keyframes flash {
    0%{
        opacity: 100%;
    }

    50%{
        opacity: 20%;
    }

    100%{
        opacity: 100%;
    }
}

@media (min-width: 992px) {
    .titulo_grande{
        font-size: 10em;
    }
}

#icon_banner{
    bottom: 10%;
    left: 48%;
}
